/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Ubuntu;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 15%;
  background-color: #d7ff8e;
  border: 2px solid #d7ff8e;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

#channelTitle {
  margin: 5%;
  font: 16px Ubuntu;
  font-weight: bold;
}

.channel {
  width: 93%;
  background: #d7ff8e;
  padding: 3px;
}

.channel input {
  margin: 2%;
  border-radius: 5px;
  border: 2px solid #d7ff8e;
  padding: 5px;
  width: 100%;
}

.channel button {
  border-radius: 5px;
  width: 100%;
  margin: 2%;
  background: #82bf15;
  border: 2px solid #d7ff8e;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

#channels {
  width: 93%;
  word-wrap: break-word;
}

#channels li {
  margin-left: 3%;
  width: 100%;
  border: 2px solid #d7ff8e;
  border-radius: 3px;
  padding: 3px;
  list-style: none;
}

#current {
  font-weight: bold;
  border: 2px solid #2a991e !important;
}

.close {
  color: #f20202;
  cursor: pointer;
}

.close:hover {
  font-weight: bold;
  color: #aa0101;
}

.channelName {
  cursor: pointer
}

.channelName:hover {
  font-weight: bold;
  color: #2a991e;
}

.not_left {
  margin-left: 15%;
}

.chat {
  background: #ffffff;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chat input {
  border-radius: 3px;
  border: 2px solid #2a991e;
  padding: 10px;
  width: 73%;
  margin: .4%;
}

.chat button {
  margin: .4%;
  width: 8.5%;
  background: #82bf15;
  border: 2px solid #2a991e;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

#content {
  margin-bottom: 50px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
