@import url(https://fonts.googleapis.com/css?family=Ubuntu);

h2{
  text-align: center;
  font-size: 24px;
}

div.container{
  font-family: 'Ubuntu', serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.main{
  width: 320px;
  padding: 10px 55px 40px;
  background-color: #d7ff8e;
  border: 17px solid white;
  border-radius: 3px;
  box-shadow: 0 0 10px;
  border-radius: 2px;
  font-size: 13px;
}

input[type=text] {
  width: 97.7%;
  height: 34px;
  padding-left: 5px;
  margin-bottom: 20px;
  margin-top: 8px;
  border: 2px solid #d7ff8e;
  border-radius: 5px;
  font-size: 16px;
}

#login {
  width: 100%;
  background: #82bf15;
  border: 2px solid #d7ff8e;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 15px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
